<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @include('partials/email')
  </head>
  <body>
    <div class="mail">
      <img src="https://i.ibb.co/Qvs67Gd/facebook.png" alt="Facebook" class="logo" />

      <p>Recuperação de Senha</p>

      <p>Foi solicitado uma alteração de senha na sua conta!</p>

      <a href="{{link}}" target="_blank" class="button">Recuperar Senha</a>
    </div>
  </body>
</html>